
@import url('https://fonts.googleapis.com/css2?family=Mali:wght@700&display=swap');



.logo-container{
    position: relative;
    top: 64px;
    margin-left: 65px;
}

.app-name{
    display: inline;
    font-size: 35px;
    font-family: 'Mali', cursive;

}

.app-name-pickup{
    color: #e2aa00;
}

.app-name-students{
    color: rgb(66, 66, 66);
}

.app-logo{
    font-size: 15px;
    font-family: 'Mali', cursive;
    margin-top: -6px;
    color:rgb(128, 128, 128);
}

.navbar-container{
    position: absolute;
    padding-right: 2vw;
    right: 0;
}

.navbar-container a{
    font-family: 'Mali', cursive;
    font-size: 1.1rem;
    margin-left: 1vw;
    text-decoration: none;
    color: rgb(66, 66, 66);
    cursor: pointer;
    padding: 5px 25px;
}

.navbar-container a:hover{
    color: #ffc107;
    background-color:  rgba(66, 66, 66, 0.8);
}








@media screen and (max-width: 670px){

    .logo-container {
        position: relative;
        top: 46px;
        text-align: center;
        margin: 0 auto;
    }
    
    .navbar-container{
        position: relative;
        top: 4vh;
        text-align: center;
        margin: 0 auto;
    }

    .navbar-container a {
        font-size: 100%;
        cursor: pointer;
        padding: 0 3%;
      }

    .app-name {
        font-size: 25px;
    }

    .app-logo {
        font-size: 12px;
        margin-top: -5px;
    }


}












