
.search-container{
    position: fixed;
    /* height: 66px; */
    width: 100%;
    text-align: center;
    padding: 10px 0 10px 0;
    /* background-color: #0d6efd; */
    background-color: rgb(66, 66, 66);
    z-index: 1;
}

.search-container form{
    display: flex;
    width: 45%;
    margin: 0 auto;
}

.search-container button{
    margin-left: 1.5%;
    /* padding: 0 15px; */
}

.totop-text{
    color: #ffc107;
    font-size: 30px;
}

.totop{
    position: absolute;
    top: 0px;
    left: 3vw;
    cursor: pointer;
}

.totop-text:hover{
    color: rgb(255, 235, 174);
}












